  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
  {{ $pageTitle := .Title }}
  {{ if (isset $.Site.Params.alias $pageTitle ) }}
    {{ $pageTitle = index $.Site.Params.alias $pageTitle }}
  {{end}}
  {{ if $pageTitle }}
  <title>{{ $pageTitle }} - {{ $.Site.Title }}</title>
  {{ else }}
  <title>{{ $.Site.Title }}</title>
  {{ end }}

  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  
  {{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon' alt="favicon"/>
  {{- end -}}
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {{ partial "utils/lazyCSS.html" "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" }}
  
  {{ partial "utils/minifyCSS.html" "css/main.css" }}
  {{ partial "utils/minifyCSS.html" "css/book.css" }}
  {{ partial "utils/minifyCSS.html" "css/source-serif-text.css" }}
  {{ partial "utils/minifyCSS.html" "css/fonts.css" }}
  {{ partial "utils/minifyLazyCSS.html" "css/fira-code.css" }}
  {{ partial "utils/minifyLazyCSS.html" "css/math-symbol.css" }}


  <link data-dep="katex" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  
  {{ partial "release/google_analytics.html" . }}
