  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
  {{ $pageTitle := .Title }}
  {{ if (isset $.Site.Params.alias $pageTitle ) }}
    {{ $pageTitle = index $.Site.Params.alias $pageTitle }}
  {{end}}
  <title>{{ $pageTitle }} - {{ $.Site.Title }}</title>

  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  
  {{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon' alt="favicon"/>
  {{- end -}}
  
  {{ partial "utils/minifyCSS.html" "css/main.css" }}
  {{ partial "utils/minifyLazyCSS.html" "css/source-serif-text.css" }}
  {{ partial "utils/minifyLazyCSS.html" "css/fonts.css" }}
  {{ partial "utils/minifyLazyCSS.html" "css/fira-code.css" }}
  {{ partial "utils/minifyLazyCSS.html" "css/math-symbol.css" }}

{{ if (not (in .Site.BaseURL "localhost")) }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
