<nav id="navbar">
    <div class="nav">
        <div class="navbar-header">
          {{- with .Site.Params.favicon }}
          <img src="{{ . | absURL }}" class="favicon"/>
          {{- end -}}
            <a href='{{ "" | absLangURL }}'>
              {{ .Site.Title }}
            </a>
        </div>

        <div class="navbar-menu">
            <ul class="">
                {{ range .Site.Menus.main.ByWeight }}
                <li>
                    <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}

                {{ partial "dev/nav.html" . }}
            </ul>
        </div>

    </div>
</nav>