{{ define "main" }} 

<div class="container container-list" id="mainContainer" role="main">
{{ partial "purity/header_list.html" . }}


{{ $type := .Type }}
  <section class="posts">
    {{ if eq .Kind "section" }}
    {{ partial "utils/book/filetree.html" . }}
    {{ end }}

      {{ if eq $type "categories" }}
      {{ else if eq $type "tags" }}
      {{ else }}
        {{ $titled := false }}
        {{ range .Site.Menus.main }}
          {{ if eq .URL $type }}
          <h2>{{ .Name }}</h2>
          {{ $titled = true }}
          {{ end }}
        {{ end }}
        {{ if not $titled }}
          <h2> {{ $type | humanize | pluralize }} </h2>
        {{ end }}
      {{ end }}

      <div class="row">
          <ul class="post-list">
              {{ range .Pages }}
              <li class="post-item">
                  {{ if eq .Kind "section" }}
                    {{ if false }}
                    <span class="section"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                    <div class="post-meta">
                        <span>Section</span>
                    </div>
                    {{ end }}
                  {{ else }}
                    {{ if .Title }}
                      <span><a href="{{ .Permalink }}">
                        {{ .Title }}
                      </a></span>
                    {{ else }}
                      <span><a class="capital" href="{{ .Permalink }}">
                      {{ $fileName := path.Base .Page.Path }}
                      {{ $fileNameLen := len $fileName }}
                      {{ $extLen := len (path.Ext $fileName) }}
                      {{ $fileName = substr $fileName 0 (sub 0 $extLen) }}
                      {{ (humanize $fileName ) }}
                      </a></span>
                    {{ end }}
                    
                    {{ partial "purity/list_meta.html" . }}
                  {{ end }}
              </li>
              {{ end }}
          </ul>
      </div>
  </section>
</div>
{{ end }}
