{{ define "main" }} 
<div class="container" id="mainContainer" role="main">
{{ partial "purity/header_single.html" . }}
  <div class="row">
    {{ $hasTOC := and (gt (len .TableOfContents) 32) (ne .Params.toc false) }}
    <div>
      <article role="main" class="post-content">
        {{ .Content }}

        <div id="refContainer">
        </div>
      </article>
    </div>
    <div class="post-pager">
      <ul class="pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ if $hasTOC }}
<div id="toc">
  <aside>
    {{ .TableOfContents }}
  </aside>
</div>
{{ end }}
{{ end }}
