{{ define "main" }}

<div class="container" id="mainContainer" role="main">
{{ partial "purity/header_terms.html" . }}

{{ $data := .Data }}
{{ $site := .Site }}
<div class="terms">
    {{ range $key, $value := .Data.Terms.ByCount }}
      {{ $url_prefix := $.Site.LanguagePrefix | absURL }}
      {{ if not (eq $.Site.LanguagePrefix "") }}
        {{ $url_prefix = print $url_prefix "/" }}
      {{ end }}
      <div class="post-header">
        <h4 class="post-title">
          <a href="{{ $url_prefix }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">
            {{ if and (eq $data.Singular "category") (isset $site.Params.alias $value.Name) }}
              {{ index $site.Params.alias $value.Name }}
            {{ else if and (eq $data.Singular "tag") (isset $site.Params.tagAlias $value.Name) }}
              {{ index $site.Params.tagAlias $value.Name }}
            {{ else }}
              {{ $value.Name | humanize }}
            {{end}}
          </a>
          <span class="badge">({{ $value.Count }})</span>
        </h4>
      </div>
      <ul class="post-list">
        {{ range $item := $value.WeightedPages }}
          <li class="post-item">
            {{ if eq $item.Title "" }}
              {{ $fileName := path.Base $item.Page.Path }}
              {{ $fileNameLen := len $fileName }}
              {{ $extLen := len (path.Ext $fileName) }}
              {{ $fileName = substr $fileName 0 (sub 0 $extLen) }}
              <a href="{{$item.Permalink}}">{{ printf "%s: %s" (humanize $item.Page.Section) ($fileName) }}</a>
            {{ else }}
              <a href="{{$item.Permalink}}">{{ $item.Title }}</a>
            {{ end }}
            {{ if .Date }}
            <div class="post-meta">
                <time>{{ .Date.Format "2006-01-02" }}</time>
            </div>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
</div>
</div>
{{ end }}
