{{ define "main" }}

<div class="container" id="mainContainer" role="main">
{{ partial "header_terms.html" . }}

{{ $data := .Data }}
{{ $site := .Site }}

    <article class="post-preview">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ range $key, $value := .Data.Terms.ByCount }}
          <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse{{ $value.Name }}" data-parent="#accordion" aria-expanded="false" aria-controls="collapse{{ $value.Name }}">
                <div class="panel-heading" role="tab" id="header{{ $value.Name }}">
                  <h4 class="panel-title">
                      {{ if and (eq $data.Singular "category") (isset $site.Params.alias $value.Name) }}
                        {{ index $site.Params.alias $value.Name }}
                      {{ else }}
                        {{ $value.Name }}
                      {{end}}
                    <span class="badge">{{ $value.Count }}</span>
                  </h4>
                </div>
            </a>
            <div id="collapse{{ $value.Name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ $value.Name }}">
              <div class="panel-body">
                {{ $url_prefix := $.Site.LanguagePrefix | absURL }}
                {{ if not (eq $.Site.LanguagePrefix "") }}
                  {{ $url_prefix = print $url_prefix "/" }}
                {{ end }}
                <a href="{{ $url_prefix }}{{ $data.Plural }}/{{ $value.Name | urlize }}/" class="list-group-item view-all">
                View all</a>
                <div class="list-group">
                  {{ range $item := $value.WeightedPages }}
                    {{ if eq $item.Title "" }}
                      {{ $fileName := path.Base $item.Page.Path }}
                      {{ $fileNameLen := len $fileName }}
                      {{ $extLen := len (path.Ext $fileName) }}
                      {{ $fileName = substr $fileName 0 (sub 0 $extLen) }}
                      <a href="{{$item.Permalink}}" class="list-group-item">{{ printf "%s: %s" (humanize $item.Page.Section) ($fileName) }}</a>
                    {{ else }}
                      <a href="{{$item.Permalink}}" class="list-group-item">{{ $item.Title }}</a>
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </article>
</div>

{{ end }}
