.book-menu {
    border: 1px solid #000;
    padding: 1em;
    /* display: flex; */
    /* max-width: fit-content; */
}

.book-menu h2 {
    margin: 0;
}

.book-menu ul {
    list-style: none;
    padding-left: 1em;
    margin: 0;
}

.book-menu ul ul {
    padding-left: 1em;
}

.book-menu .book-item {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.book-menu .book-item .book-meta {
    justify-content: flex-end;
    display: flex;
    min-width: 100px;
    font-size: 0.75em;
    color: #666;
}
