@font-face {
  font-family: "Source Han Serif CN";
  src: local('Source Han Serif SC'), local('Source Han Serif CN'), url(../fonts/SourceHanSerifCN-Regular.otf);
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans CN";
  src: local('Source Han Sans SC'), local('Source Han Sans CN'), url(../fonts/SourceHanSansCN-Regular.otf);
  font-display: swap;
}
