*,
:after,
:before {
    box-sizing: border-box
}

* {
    font-variant-ligatures: common-ligatures;
    quotes: '\201C' '\201D' '\2018' '\2019';
}

html {
    height: 100%;
    border-top: 2px solid #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 18px;
}

hr {
    background-color: #000;
}

a {
    color: #000;
}

img {
    display: flex;
    margin: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-family: 'Source Serif', 'Source Han Serif SC', 'Source Han Serif CN', serif;
    font-weight: 400;
    line-height: 1.5rem;
    text-rendering: geometricPrecision;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'cv31' on;
    margin: 0;
}

code {
    font-family: 'Fira Code', 'Source Han Sans SC', 'Source Han Sans CN', monospace;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}

/* 
    Generic Rules
*/

.capital {
    text-transform: capitalize;
}


/* 
    Nav Bar
*/

nav>.nav {
    border-bottom: 1px solid #000;
}

.nav {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
}

.nav a {
    text-decoration: none;
    font-variant-caps: small-caps;
}

.nav .navbar-header {
    display: flex;
    align-items: center;
}

.nav .navbar-header a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav .navbar-header .favicon {
    margin-left: 0;
    margin-right: 5px;
    height: 1rem;
    width: 1rem;
}

.nav .navbar-menu {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-right: 0;
}

.nav .navbar-menu ul {
    margin: 0;
    padding: 0;
    margin-right: -10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:800px) {
    .nav .navbar-menu ul {
        flex-flow: row wrap;
        justify-content: normal;
    }
}

.nav .navbar-menu li {
    margin: 10px;
}


/* 
    Container - Header
*/

.header {
    margin-bottom: 2em;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-variant-caps: small-caps;
    text-align: center;
}

.header h1 {
    letter-spacing: 0.25rem;
    /* font-size: 1.375em; */
    font-size: 2em;
    line-height: 2rem;
    font-style: normal;
    font-weight: 600;
}

.header h2 {
    text-align: center;
    font-size: 1.375em;
}

.flex-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    justify-content: center;
    /* align-items: center; */
    padding: 0;
    margin: 0;
}

.container {
    /* flex: 1; */
    width: 100%;
    max-width: 38rem;
    padding: 1rem;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container .container {
    margin-bottom: 0rem;
}

.container a {
    text-decoration: none;
}


/* 
    Container - List
    TERMS (categoreis/tags) styles
*/

.post-list {
    list-style: none;
}

ul.post-list {
    line-height: 1.5rem;
    padding-left: 2rem;
}

.post-list .post-item {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.post-list .post-item a {
    text-transform: capitalize;
}

.post-list .post-item .section {
    text-decoration: underline;
}

.post-list .post-item .post-meta {
    /* align-items: center; */
    justify-content: flex-end;
    display: flex;
    min-width: 100px;
    font-size: 0.75em;
    color: #666;
    min-width: fit-content;
}

.post-list .post-item .post-meta * {
    margin-left: 0.5em;
}

.post-pager {
    border-top: 1px solid #000;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    font-size: 0.9em;
}

.post-pager ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}

.post-pager .previous {
    text-align: left;
    margin: auto;
    margin-left: 0;
}

.post-pager .next {
    text-align: right;
    margin: auto;
    margin-right: 0;
}


/* 
    TOC
*/

#toc {
    /* margin-left: 4rem; */
}

@media screen and (max-width: 1200px) {
    #toc {
        display: none;
    }
}

@media(min-width:1200px) {
    #toc {
        width: 0;
        height: 100%;
        margin-top: 8.5rem;
        border-left: 1px solid #000;
        position: sticky;
        position: -webkit-sticky;
        top: 4rem;
    }
    #toc aside {
        min-width: 20rem;
        max-height: calc(100vh - 10rem);
        overflow: auto;
        overflow-x: hidden;
    }
    #TableOfContents {
        /* min-width: 20rem; */
        display: block;
        color: #CCC;
    }
    #TableOfContents ul {
        margin: 0px;
        padding-left: 1rem;
        list-style: none;
    }
    #TableOfContents li.active {
        padding-left: 0
    }
    #TableOfContents li.active:before {
        content: "→";
        display: inline-block;
        margin-left: -20px;
        width: 20px
    }
    #TableOfContents a {
        text-decoration: none;
        color: #AAA;
    }
    #TableOfContents a:hover,
    #TableOfContents a:focus,
    #TableOfContents a:active {
        color: #000;
    }
}


/* 
    Footer
*/

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666;
    font-size: 0.6em;
    max-width: 700px;
    width: 100%;
    margin: 0 auto 1rem auto;
    vertical-align: top;
    text-align: center;
}


/* 
    DIR (list) styles
*/

.dir .intro {
    margin-top: 2rem;
}

.posts h2 {
    line-height: 1.2;
    margin: 1rem 0 .5rem;
    font-size: 1.5rem;
    font-weight: 600;
}


/* 
    DIR (list) with preview
*/

.post-preview {
    margin-bottom: 2rem;
}

.post-preview h1,
.post-preview h2,
.post-preview h3,
.post-preview h4,
.post-preview h5,
.post-preview h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-variant-caps: small-caps;
    text-align: center;
}

.post-preview a {
    border-bottom: .1em solid #000;
}


/* 
    PAGE (single) styles
*/

.post-header .post-title {
    margin-bottom: 2em;
}

.post-header .post-title h1 {
    letter-spacing: normal;
    margin: 1.5rem 0 2.5rem;
    text-transform: none;
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 500;
    text-align: center;
}

.post-header .post-meta {
    color: #BBB;
    display: flex;
    justify-content: left;
}

.post-header .post-meta * {
    color: #BBB;
}

.post-header .post-meta span:first-child {
    margin-left: 0;
}

.post-header .post-meta span {
    margin-left: 5px;
    margin-right: 5px;
}

.post-header .post-meta .author {
    text-transform: uppercase;
    font-weight: 700;
}

.post-header .post-meta .date {}


/* .post-header .post-meta .categories::before,
.post-header .post-meta .tags::before {
    content: "|";
} */

.post-header .post-meta .categories a,
.post-header .post-meta .tags a {
    text-decoration: underline;
}

.post-content a {
    border-bottom: .1em solid #000;
}


/* 
    Markdown Element Styles
*/


/* CodeBlocks */

code {
    border: 1px dotted #000;
    font-size: 0.9em;
    padding-left: 2px;
    padding-right: 2px;
}

a code {
    border: none;
}

pre {
    border: 1px solid #000;
    padding: 0.5em;
    overflow: auto;
}

pre code {
    border: none;
    font-size: 0.75em;
    padding: 0;
}


/* Blockquote */

blockquote {
    /* background: inherit; */
    /* color: #888; */
    /* font-size: 0.9em; */
    color: rgba(0, 0, 0, 0.8);
    border-left: 3px solid #000;
    margin: 1rem 10px;
    margin-left: calc(-1em - 3px);
    /* padding: .5rem 10px; */
    padding-left: calc(1em);
    /* position: relative */
}

blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote blockquote {
    margin-left: -3px;
}


/* blockquote:before {
    position: absolute;
    color: #888;
    content: '\201C';
    font-size: 2em;
    left: -.3rem;
    top: .25rem
} */


/* Figure Caption */

.figure-box figure {
    margin-bottom: 0;
}

.figcaption {
    color: #666;
    margin: 0;
    font-size: .8em;
    font-family: 'Source Han Sans SC', 'Source Han Sans CN', sans-serif;
    font-style: italic;
}

.figcaption.figcaption-right {
    text-align: right;
    padding-right: 0.5em;
}