{{ $.Scratch.Set "title" .Title }} 
{{ if .Params.subtitle }}
  {{ $.Scratch.Set "subtitle" .Params.subtitle }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ $subtitle := $.Scratch.Get "subtitle" }}

<header class="header">
    <div class="row">
        <div class="post-heading">
            {{ if eq .Type "categories" }}
              {{ if (isset .Site.Params.alias $title) }}
                {{ $title = index .Site.Params.alias $title }}
              {{ end }}
            {{ else if eq .Type "tags" }}
              {{ if (isset .Site.Params.tagAlias $title) }}
                {{ $title = index .Site.Params.tagAlias $title }}
              {{ end }}
            {{ end }}

            <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
            
            {{ if $subtitle }}
              <hr class="small">
              <h4 class="page-subheading">{{ $subtitle }}</h4>
            {{ end }}
        </div>
    </div>
</header>