{{ $.Scratch.Set "title" .Title }} 
{{ if .Params.subtitle }}
  {{ $.Scratch.Set "subtitle" .Params.subtitle }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ $subtitle := $.Scratch.Get "subtitle" }}

<header class="header">
    <div class="row">
        <div class="dir">
            {{ if eq .Type "categories" }}
              {{ if (isset .Site.Params.alias $title) }}
                {{ $title = index .Site.Params.alias $title }}
              {{ else }}
                {{ $title = .Name | humanize }}
              {{ end }}
              <h1>{{ $title }}</h1>
            {{ else if eq .Type "tags" }}
              {{ if (isset .Site.Params.tagsAlias $title) }}
                {{ $title = index .Site.Params.tagsAlias $title }}
              {{ else }}
                {{ $title = .Name | humanize }}
              {{ end }}
              <h1>{{ $title }}</h1>
            {{ else if eq .Type "list" }}
              <h1>{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
            {{ else }}
              <h1>{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
            {{ end }}
            
            {{ $needHr := false }}
            {{ $needHr := or $needHr (and (not (in .Site.Params.CustomCssPostType .Type)) (ne .Type "post")) }}
            {{ $needHr := or $needHr $subtitle }}
            {{ if $needHr }}
              <hr class="small">
            {{ end }}

            {{ if $subtitle }}
              <h4 class="subtitle">{{ $subtitle }}</h4>
            {{ end }}

            {{ with .Content }}
            <section class="intro">
              {{.}}
            </section>
            {{ end }}
        </div>
    </div>
</header>
