{{ define "main" }} 

<div class="container" id="mainContainer" role="main">
{{ partial "purity/header_index.html" . }}

  <div role="main" class="container">
    {{ partial "dev/menu_list.html" . }}
    <div class="row">
      <div class="post-list">
        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
        {{/* $pag := .Paginate (.Data.Pages) 2147483647 */}}
        {{ range $pag.Pages }}
          <article class="post-preview">
            {{ if .Title }}
              <h2 class="post-title">{{ .Title }}</h2>
            {{ end }}
            {{ if .Params.subtitle }}
              <h3 class="post-subtitle">
              {{ .Params.subtitle }}
              </h3>
            {{ end }}

            {{ partial "purity/post_meta.html" . }}
            <div class="post-entry">
              {{ .Content }}
            </div>
          </article>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
