name: github pages

on:
  watch:
    types: started
  push:
    branches:
      - site
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: disable quotePath
        run: git config --global core.quotePath false

      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Update Purity to latest
        run: cd themes/purity && git pull --ff-only &&  cd ..

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify -t purity --ignoreCache
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          personal_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
